[Unit]
Description=Ser2tcp server
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/autoserial2tcp

[Install]
WantedBy=default.target
